<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
<link rel="stylesheet" href="{{ "/styles/main.css" | relative_url }}">
<link href="//fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Domine" rel="stylesheet">
<link rel="icon"
      type="image/x-icon"
      href="/faviconb.ico?">
<title>{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}</title>
{% include analytics.html %}