$color-dark: #1E2022;
$color-medium: #52616B;
$color-light: #C9D6DF;
$color-verylight: #F0F5F9;

$font-heading: 'Oswald', sans-serif;
$font-body: 'Droid Serif', serif;

$font-size-min: 15px;
$font-size: 20px;

$body-max-width: 45em;
$body-margin-left: 11.5em;
$body-margin-right: 2.5em;
$body-margin-big: 1em;
$body-margin-small: 0.4em;

$heading-paragraph-margin: 2rem;

$header-height: 11.1vh;

$screen-shrink-width: 1050px;
$screen-shrink-step: 50px;
