---
---
@import "_var";


* {
  padding: 0;
  margin: 0;
}

.aside-container {
  position: absolute;
  left: 0;
  width: $body-margin-left - $body-margin-big;
  text-align: right;
}

.aside-container > * {
  max-width: $body-margin-left - $body-margin-big;
}


html {
  font-size: $font-size;
}

body {
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1;
  width: 100%;
  max-width: $body-max-width;
  color: $color-dark;
  overflow-y: scroll;
  position: relative;
  font-feature-settings: 'kern' 1;
}

body, p {
  font-family: $font-body;
}

body > * {
  font-size: 100%;
  margin-left: $body-margin-left;
  margin-right: $body-margin-right;
}

header {
  height: $header-height;
}

article > header {
  height: auto;
}

img {

}

p {
  margin-bottom: $body-margin-big;
  line-height: 1.35;
}

h1 > span {
  border-top: 1px solid $color-dark;
}

h1, h1 > span {
  padding-top: $body-margin-big;
}

h1, h2, h3, h4, h5 {
  font-family: $font-heading;
  font-weight: normal;
  margin-bottom: 0.4rem;
}

p + h4, p + h3, p + h2, p + h1 {
  margin-top: $heading-paragraph-margin;
}

h2 {
  font-size: 1.3rem;
}

#logo {
  line-height: 1;
  display: inline-block;
  text-align: right;
  margin: 0;
  padding: $body-margin-small;
  color: $color-medium;
  background-color: $color-verylight;
}

#logo strong {
  display: block;
  font-size: 1.05rem;
  text-transform: uppercase;
  font-family: $font-heading;
}

#logo small {
  display: block;
  font-weight: lighter;
  font-family: $font-body;
  font-size: 0.5rem;
}


a {
  color: $color-medium;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85em;
  letter-spacing: 0.05em;
  padding: $body-margin-small;
}

a:hover {
  text-decoration: underline;
}

#nav-top {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  margin: $body-margin-small 0;
  height: 100%;
}


/* Media */
@media only screen and (max-width: 69em) {
  body > * {
    font-size: 19px;
  }
}

@media only screen and (max-width: 66em) {
  body > * {
    font-size: 18px;
  }
}

@media only screen and (max-width: 63em) {
  body > * {
    font-size: 17px;
  }
}

@media only screen and (max-width: 60em) {
  body > * {
    font-size: 16px;
  }
}

@media only screen and (max-width: 57em) {
  body > * {
    font-size: 15px;
  }
}
